.navbar {
  background-color: whitesmoke;
}
.nav-link {
  color: rgba(8, 34, 235, 0.5) !important;
  font-weight: bold;
}
.slogan {
  font-size:40px;
  font-weight: bold;
  color:#009688;
  text-align: center;
}
.opciones {
  color: rgba(8, 34, 235, 0.5) !important;
  background-color: whitesmoke !important;
}
.btn-secondary {
  background-color: whitesmoke !important;
  color: rgba(8, 34, 235, 0.5) !important;
}
.counterText {
  color: #009688;
  font-size: 20px;
  text-align: center;
}
.subtitulo {
  background-color: #0096882e !important;
  color: rgba(8, 34, 235, 0.5) !important;
}
.Card {
  max-height: 20rem;
}
.info {
  font-size:20px;
  color:#009688;
  text-align: center;

}
.fotos {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    align-content: center;
} 
.fotos img {
            height: 350px;
            width: auto;
            justify-content: center;
            opacity: 0.8;
}
.fotos img:hover {
            box-shadow: 0 0 5px rgba(149, 201, 147, 1);
            opacity: 1;
}
.pie {
  background-color: seashell;
  height: auto;

}
.pie a svg {
  width: 40px;
  height: 40px;
  fill: rgba(149, 201, 147, 1);
}
.cartImg img {
  width: 200px;
  height: auto;
  display: inline;
}
.nav-item-element {
  cursor: pointer;
}
.nav-item-element:hover {
  color: blue;
}
.nav-menu_container {
  display: flex;
  gap: 10px;
  align-items: center;
}