.navbar {
  background-color: whitesmoke;
}
.nav-link {
  color: rgba(8, 34, 235, 0.5) !important;
  font-weight: bold;
}
.slogan {
  font-size:40px;
  font-weight: bold;
  color:#009688;
  text-align: center;

}
.btn-secondary {
  background-color: whitesmoke !important;
  color: rgba(8, 34, 235, 0.5) !important;
}
.counterText {
  color: #009688;
  font-size: 20px;
  text-align: center;
}